fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
pydantic==2.7.4
python-dotenv==1.0.1

langchain==0.2.5
langchain-community==0.2.5
langchain-openai==0.1.13
langchain-pinecone==0.1.1
langchain-text-splitters==0.2.2

openai==1.35.3
chromadb==0.5.3
pinecone-client==4.1.0

pypdf==4.2.0
docx2txt==0.8
unstructured[md]==0.14.6

sentence-transformers==3.0.1
